.board_holder
  .board_title.land_hidden
    span.board_counter
      span.counters
    span.fz_34.dm сейчас рядом с вами!
  .board_title.land_only
    span.fz_16.fw_b.let_0075 И все они хотят познакомиться! Не упускай свой шанс!
  .board_block
    .boardGrid.board_grid.lightgallery
      .grid_item.gridItem()
        a.board_unit(href="img/avatar_1.jpg")
          .board_img
            img(src='img/avatar_1.jpg')
          .board_name
            span.fz_16 Василий, 24
            span.board_status._online
      .grid_item.gridItem()
        a.board_unit(href="img/avatar_2.jpg")
          .board_img
            img(src='img/avatar_2.jpg')
          .board_name
            span.fz_16 Ирина, 22
            span.board_status._online

      .grid_item.gridItem.grid_x2()
        a.board_unit(href="img/avatar_3.jpg")
          .board_img
            img(src='img/avatar_3.jpg')
          .board_name
            span.fz_16 Ольга, 24
            span.board_status._online
      +loop_while(3)
        .grid_item.gridItem()
          a.board_unit(href="img/avatar_1.jpg")
            .board_img
              img(src='img/avatar_1.jpg')
            .board_name
              span.fz_16 Василий, 24
              span.board_status._online
        .grid_item.gridItem()
          a.board_unit(href="img/avatar_2.jpg")
            .board_img
              img(src='img/avatar_2.jpg')
            .board_name
              span.fz_16 Ирина, 22
              span.board_status._online

        .grid_item.gridItem()
          a.board_unit(href="img/avatar_4.jpg")
            .board_img
              img(src='img/avatar_4.jpg')
            .board_name
              span.fz_16 Виталик, 38
              span.board_status._online

        .grid_item.gridItem()
          a.board_unit(href="img/avatar_1.jpg")
            .board_img
              img(src='img/avatar_1.jpg')
            .board_name
              span.fz_16 Василий, 24
              span.board_status._online

      .grid_item.gridItem.grid_x2()
        a.board_unit(href="img/avatar_3.jpg")
          .board_img
            img(src='img/avatar_3.jpg')
          .board_name
            span.fz_16 Ольга, 24
            span.board_status._online

      +loop_while(2)
        .grid_item.gridItem()
          a.board_unit(href="img/avatar_1.jpg")
            .board_img
              img(src='img/avatar_1.jpg')
            .board_name
              span.fz_16 Василий, 24
              span.board_status._online
        .grid_item.gridItem()
          a.board_unit(href="img/avatar_2.jpg")
            .board_img
              img(src='img/avatar_2.jpg')
            .board_name
              span.fz_16 Ирина, 22
              span.board_status._online

        .grid_item.gridItem.grid_x2()
          a.board_unit(href="img/avatar_3.jpg")
            .board_img
              img(src='img/avatar_3.jpg')
            .board_name
              span.fz_16 Ольга, 24
              span.board_status._online


        .grid_item.gridItem()
          a.board_unit(href="img/avatar_4.jpg")
            .board_img
              img(src='img/avatar_4.jpg')
            .board_name
              span.fz_16 Виталик, 38
              span.board_status._online

        .grid_item.gridItem()
          a.board_unit(href="img/avatar_1.jpg")
            .board_img
              img(src='img/avatar_1.jpg')
            .board_name
              span.fz_16 Василий, 24
              span.board_status._online

      +loop_while(2)
        .grid_item.gridItem()
          a.board_unit(href="img/avatar_3.jpg")
            .board_img
              img(src='img/avatar_3.jpg')
            .board_name
              span.fz_16 Ольга, 24
              span.board_status._online

        .grid_item.gridItem()
          a.board_unit(href="img/avatar_4.jpg")
            .board_img
              img(src='img/avatar_4.jpg')
            .board_name
              span.fz_16 Виталик, 38
              span.board_status._online

        .grid_item.gridItem()
          a.board_unit(href="img/avatar_1.jpg")
            .board_img
              img(src='img/avatar_1.jpg')
            .board_name
              span.fz_16 Василий, 24
              span.board_status._online

      .grid_item.gridItem()
        a.board_unit(href="img/avatar_2.jpg")
          .board_img
            img(src='img/avatar_2.jpg')
          .board_name
            span.fz_16 Ирина, 22
            span.board_status._online
