.filter_w
    .filter_block
      .filter_col._col_12: .filter_box_holder
        .filter_box
          .f_row.f_group
            .f_cell
              label.f_check.radio_v1.keepFZ_
                input.inp_hidden(type='radio' name='gender' checked)
                span.check_text
                  span.fz_16 Я парень
            .f_cell
              label.f_check.radio_v1.keepFZ_
                input.inp_hidden(type='radio' name='gender')
                span.check_text
                  span.fz_16 Я девушка
            .f_cell
              label.f_check.radio_v1.keepFZ_
                input.inp_hidden(type='radio' name='gender')
                span.check_text
                  span.fz_16 Мы пара

          .f_row.f_row_v2
            .f_cell
              .f_label_v1
                span.fz_16.c_gray Ищу
            .f_cell.cb
              label.f_check.check_v1
                input.inp_hidden(type='checkbox')
                span.check_text
                  span.fz_16 Девушку
            .f_cell
              label.f_check.check_v1
                input.inp_hidden(type='checkbox')
                span.check_text
                  span.fz_16 Парня
            .f_cell
              label.f_check.check_v1
                input.inp_hidden(type='checkbox')
                span.check_text
                  span.fz_16 Пару

        .filter_box.filter_box_v1
          .f_row.f_row_v1
            .f_cell
              .f_label_v1
                span.fz_16.c_gray Возраст
            .f_cell._wide
              .toddler_v1.toddlerHolder
                .toddler_val.toddler_min
                  input.valMin.f_input.input_v1(value=25 data-inputmask="'alias': 'decimal', 'groupSeparator': '', 'digitsOptional': true, 'autoGroup': false, 'rightAlign': false" maxlength=3)
                .toddler_val.toddler_max
                  input.valMax.f_input.input_v1(value=40 data-inputmask="'alias': 'decimal', 'groupSeparator': '', 'digitsOptional': true, 'autoGroup': false, 'rightAlign': false" maxlength=3)
                .toddler(data-start=25 data-end=40 data-min=18 data-max=100 data-step=1 data-slide-func='updateAge')

          .f_row.f_row_v1
            .f_cell.land_only
              .f_label_v1
                span.fz_16.c_gray &nbsp;
            .f_cell._wide
              .cb.select_box_v1
                select.select2.ajax(data-placeholder='Город' data-select-class='select_w1')
                  option(disabled selected)
                  option Москва
                  option Харьков
                  option Киев
                  option Амстердам

      .filter_col._col_3
        .f_row.f_row_v3
          .f_cell
            label.f_check.check_v1
              input.inp_hidden(type='checkbox')
              span.check_text
                span.fz_16.c_gray с фото
          .f_cell
            label.f_check.check_v1
              input.inp_hidden(type='checkbox')
              span.check_text
                span.fz_16.c_gray онлайн
          .f_cell
            label.f_check.check_v1
              input.inp_hidden(type='checkbox')
              span.check_text
                span.fz_16.c_gray по городу

          .f_cell
            label.f_check.check_v1
              input.inp_hidden(type='checkbox')
              span.check_text
                span.fz_16.c_gray ищут ли меня
          .f_cell
            label.f_check.check_v1
              input.inp_hidden(type='checkbox')
              span.check_text
                span.fz_16.c_gray только новые

        .f_row.f_row_v1
          .f_cell
            a.btn_v1.btn_red.filter_btn(href='search_results.html')
              span.btn_text.fz_16 Найти
          .f_cell.land_hidden
            a.adv_search(href='search_results.html')
              span Расширенный<br>поиск
