footer.footer._blur_it
  .section_inner
    .aside.land_only
      p 324 760 новых анкет:  27 854 сейчас онлайн

    .content
      .page_footer
        .copyright.land_only
          span Дизайн сайта&nbsp;
          a.dev_link.gl_link(href='#')
            span goga.spb.ru

        .footer_nav
          include nav
