header.header()
  .mob_header.land_hidden
    - if (leftBtn === 0)
      a.user_menu.openUserMenu(href='#')
        img._on(src='img/svg/login.svg')
        img._off(src='img/svg/close.svg')
    - if (leftBtn === 1)
      a.user_menu.openProfileMenu(href='#')
        img._on(src='img/svg/menu.svg')
        img._off(src='img/svg/back.svg')


    a.mob_logo(href='/')
      span.fz_43 MAJ
      img(src='img/svg/logo.svg' width=110 height=110)
      span.fz_43 NGA

    a.mob_search.openSearch(href='#')
      img._on(src='img/svg/search_2.svg')
      img._off(src='img/svg/close.svg')
