head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(content='telephone=no', name='format-detection')
  meta(name='HandheldFriendly', content='true')

  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='address=no')

  meta(name='google' content='notranslate')

  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

  meta(name='mobile-web-app-capable' content='yes')

  block head
  title= pageTitle || ''
  meta(name='description', content= pageDescription || '')

  link(rel="icon" href="./favicon/favicon.ico")
  link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="./favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="./favicon/favicon-16x16.png")
  link(rel="manifest", href="./favicon/manifest.json")
  link(rel="mask-icon", href="./favicon/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="apple-mobile-web-app-title", content="majonga")
  meta(name="application-name", content="majonga")
  meta(name="theme-color", content="#ffffff")

  - if (!production)
    link(rel='stylesheet', href='vendor/lightGallery-master/dist/css/lg-fb-comment-box.css')
    link(rel='stylesheet', href='vendor/lightGallery-master/dist/css/lg-transitions.css')
    link(rel='stylesheet', href='vendor/lightGallery-master/dist/css/lightgallery.css')
    //-link(rel='stylesheet', href='vendor/odometer-master/themes/odometer-theme-car.css')
    //-link(rel='stylesheet', href='vendor/FlipClock-master/compiled/flipclock.css')
    link(rel='stylesheet', href='css/main_global.css')
