block variables
  - var production = locals['production'];
  - var scripts_arr = locals['scripts'];
  - var styles_arr = locals['styles'];
  - var months = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']

include page
include ../utils/scripts
include ../utils/styles
include ../components/mixins

mixin loop_while(counter)
  -i=0;
  while i < counter
    -i++;
    block

doctype html
html(lang='ru')
  include head
  +page
    block content
    include popup

    - if (production)
      link(rel='stylesheet', href='css/styles.min.css')
      +scripts([
        '/js/all_min.js'
      ])
    - else
      +scripts(scripts_arr)
