block variables
  - var months = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']

include page
include ../utils/scripts

mixin loop_while(counter)
  -i=0;
  while i < counter
    -i++;
    block

doctype html
html(lang='ru')
  include head
  +page
    block content
    include popup
    +scripts([
      '/js/jquery1.10.js',
      '/js/enquire.js',
      '/js/hammer.min.js',
      '/vendor/FlipClock-master/compiled/flipclock.js',
      '/vendor/lightGallery-master/lib/picturefill.min.js',
      '/vendor/lightGallery-master/lib/jquery.mousewheel.min.js',
      '/vendor/lightGallery-master/dist/js/lightgallery-all.js',
      '/js/nouislider.js',
      '/js/jquery.inputmask.bundle.js',
      '/js/swiper.js',
      '/js/select2.js',
      '/js/isotop/isotope.pkgd.js',
      '/js/isotop/cells-by-column.js',
      '/js/isotop/cells-by-row.js',
      '/js/isotop/fit-columns.js',
      '/js/isotop/horizontal.js',
      '/js/isotop/masonry-horizontal.js',
      '/js/isotop/packery-mode.pkgd.js',
      '/js/main.js'
    ])
