include ../components/profile_photo_menu

.board_holder._footer_mode
  .board_title._profile_controls
    a.title_back_btn.dm(href='index.html')
      img(src='img/svg/back-left-arr.svg')
    span.fz_22.dm
      span Мои фото
      span.land_only графии

    a.title_edit_btn.land_hidden.editBtn(href='#')
      +menu_icon('settings')

    +profile_title_controls()

  .board_block._has_aside._photos_mode
    form(action='#'): .profile_photos_holder
      .profile_photos_list: .boardGrid.lightgallery.needMenu
        //-.profile_photo_unit.gridItem: .profile_photo_w
          a.profile_photo._camera(href='#')
            .gl_table
              .gl_table_cell
                +menu_icon('camera_plus')
        .profile_photo_unit.gridItem: .profile_photo_w
          a.profile_photo.galItem(href='img/my_photo_big.jpg')
            img(src='img/my_photo.jpg')
          +profile_photo_menu(true, 1250, true)
        .profile_photo_unit.gridItem: .profile_photo_w
          a.profile_photo.galItem(href='img/my_photo_big.jpg')
            img(src='img/my_photo.jpg')
          +profile_photo_menu(true, 1250, true)
        .profile_photo_unit.gridItem: .profile_photo_w
          a.profile_photo.galItem(href='img/my_photo_adult.jpg')
            img(src='img/my_photo_adult.jpg')
          +profile_photo_menu(true, 1250, false, true)

        +loop_while(3)
          .profile_photo_unit.gridItem: .profile_photo_w
            a.profile_photo.galItem(href='img/my_photo_big_2.jpg')
              img(src='img/my_photo.jpg')
            +profile_photo_menu(true, 1250, false, false, true)
          .profile_photo_unit.gridItem: .profile_photo_w
            a.profile_photo.galItem(href='img/my_photo_big.jpg')
              img(src='img/my_photo.jpg')
            +profile_photo_menu(true, 1250, true)
          .profile_photo_unit.gridItem: .profile_photo_w
            a.profile_photo.galItem(href='img/my_photo_adult.jpg')
              img(src='img/my_photo_adult.jpg')
            +profile_photo_menu(true, 1250, false, true)

      .profile_photos_helper
        .profile_photos_helper_caption
          span Подсказки по управлению
          span.land_hidden  фото

        .profile_photos_helper_text
          p Можно менять порядок отображения фотографий, просто тащите фотки с одного места на
            |  другое и их порядок изменится.

          p Первые фотографии, но не более 3 шт., будут показываться в полоске с общей информацией.

          p Значком обозначен ваш текущий аватар, его можно сменить в любое время кликнув на другой фотографии.

        .profile_photos_helper_caption.land_only
          span Добавление новых фото

        .profile_photos_uploader
          p.land_only
            span.fz_14 Переносите сюда<br>ваши фотографии<br>или нажмите кнопку
          p
            label.btn_v1.btn_white_blue.upload_btn
              input.inp_hidden(type='file')
              span.fz_16.land_only Загрузить
              span.mob_action_icon.land_hidden
                +menu_icon('plus')

  .board_footer.boardFooter._fixed
    a.board_menu_toggle.menuToggleBtn.land_hidden(href='#')
      span
    .board_footer_control
      span.dm.fz_14
        span Выбрано:&nbsp;
        span.fw_b.checkCounter 0
        span.fw_b.land_only &nbsp;фото

    ul.board_footer_controls
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Выключить
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Только для VIP
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Интим-фото
      li.land_only
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Скрыть
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Удалить

    .board_footer_control
      label.board_footer_link.fz_14
        input.inp_hidden.checkAll(data-target='.photoCheck' type='checkbox')
        span Выбрать все
        span.land_only  фото
