mixin profile_photo_menu(has_check, views, lock, adult, menu, camera, address)
  - if (address)
    .profile_photo_menu.land_hidden._address
      .profile_photo_views
        p.clr_white
          span.fz_26 Россия, Санкт-Петербург<br>
          span.fz_26 Близнецы
        p
          span.board_status._online._left
            span Online

  .profile_photo_menu(class= address ? '_mob_top' : '')
    - if (views)
      .profile_photo_views
        span.photo_icon
          +menu_icon('eye')
        span= views

    - if (camera)
      .profile_photo_views._alone
        span.photo_icon._large
          +menu_icon('camera')
        span.slideCount= camera

    - if (menu)
      .profile_photos_menu
        a.profile_menu_btn.profileMenuBtn(href='#')
          .profile_menu_icon._menu
            +menu_icon('user_2')
            //img(src='img/svg/user_2.svg')

    - if (lock)
      .profile_photos_menu
        .profile_menu_btn
          .profile_menu_icon
            +menu_icon('lock')
            //img(src='img/svg/lock.svg')

    - if (adult)
      .profile_photos_menu
        .profile_menu_btn
          .profile_menu_icon
            +menu_icon('adult')
            //img(src='img/svg/adult_only.svg')

  - if (has_check)
    .profile_photo_check
      label.f_check.check_v1
        input.inp_hidden.photoCheck(type='checkbox')
        span.check_text

  - if (menu)
    .profile_photos_menu_holder
      ul.profile_photos_menu_list
        li: a.profile_menu_link(href='#'): span.fz_16 Сделать аватаркой
        li: a.profile_menu_link(href='#'): span.fz_16 Выключить
        li: a.profile_menu_link(href='#'): span.fz_16 Только для VIP
        li: a.profile_menu_link(href='#'): span.fz_16 Интим-фото
        li: a.profile_menu_link(href='#'): span.fz_16 Удалить

mixin profile_title_controls()
  .profile_title_controls
    ul.profile_controls
      li: a.profile_control(href='#')
        span.profile_c_icon
          +menu_icon('home')

      li: a.profile_control(href='#')
        span.profile_c_icon
          +menu_icon('pin')
          span.profile_l_counter
            span 568

      li: a.profile_control(href='#')
        span.profile_c_icon
          +menu_icon('cup')
          span.profile_l_counter
            span 25

      li: a.profile_control.toggleProfileSearch(href='#')
        span.profile_c_icon
          +menu_icon('search_2')

  .profileTitleSearch.profile_title_search.land_only
    include filter_block

mixin search_view_controls()
  .search_view_controls
    ul.view_controls
      li: label.label_v3
        input.inp_hidden.viewTogller(type='radio' data-view='block' name='search_view' checked)
        span.check_text._view_block
          //-+menu_icon('view_block')

      li: label.label_v3
        input.inp_hidden.viewTogller(type='radio' data-view='list' name='search_view')
        span.check_text._view_list
          //-+menu_icon('view_list')

mixin flip(x)
  span.flip-clock-wrapper
    ul.flip.play
      li.flip-clock-active
        a(href="#")
          .up
            .shadow
            .inn= x
          .down
            .shadow
            .inn= x
