include ../components/profile_photo_menu

.board_holder._footer_mode
  .board_title._profile_controls
    a.title_back_btn.dm(href='index.html')
      img(src='img/svg/back-left-arr.svg')
    span.fz_22.dm
      - if (visitors)
        span На вас смотрели: 125
      - else
        span Найдено: 125

    - if (!visitors)
      +search_view_controls()

    +profile_title_controls()

  .board_block._photos_mode
    form(action='#'): .profile_photos_holder._search
      .profile_photos_list: .boardGrid.lightgallery_.loadSearchResults(class= visitors ? '_list' : '')

  .board_footer._search.stickMeSpacer
  .board_footer._search.stickMeBottom
    .board_pagination
      ul.board_pagination_list.searchPager
        li
          a.pagination_link.pagPrev(href='#')
            span &#8592;

        - var p = 0
        while p < 6
          - p++;
          li
            a.pagination_link.pagLink(data-page= p href='#')
              span= p

        li
          a.pagination_link.pagNext(href='#')
            span &#8594;
