include ../components/profile_photo_menu

.board_holder
  .board_title._profile_controls
    a.title_back_btn.dm(href='index.html')
      img(src='img/svg/back-left-arr.svg')
    span.fz_22.dm Виктория, 24
    span.profile_title_tip.fz_14.dm.land_only Была месяц назад

    a.board_menu_toggle.menuToggleBtn.land_hidden(href='#')
      span
    ul.board_footer_controls.land_hidden
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Написать сообщение
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m Подарить подарок
      li
        a.dm.btn_v2.board_footer_btn.btn_gray(href='#')
          span.fz_16.fw_m В избранное

    //-a.title_edit_btn.land_hidden._inactive(href='#')
      +menu_icon('heart')

    +profile_title_controls()

  .board_block._photos_mode
    form(action='#'): .profile_photos_holder
      .profile_photos_list
        .boardGrid_.clearfix
          +loop_while(1)
            .profile_photo_unit.gridItem._wide: .profile_photo_w
              //-a.profile_photo._no_shadow.galItem(href='img/my_photo_big_2.jpg')
                img(src='img/user_profile.jpg')
              .profile_photo._no_shadow
                .swiper-container.myPhotoSlider.my_photo_slider
                  .swiper-wrapper
                    +loop_while(7)
                      .slide.swiper-slide
                        img(src='img/user_profile.jpg')
              +profile_photo_menu(false, 0, false, false, false, 25, true)
            .profile_photo_unit.gridItem.land_only: .profile_photo_w
              a.profile_photo._no_shadow.galItem(href='img/my_photo_big.jpg')
                img(src='img/my_photo.jpg')
              +profile_photo_menu(false, 0)
            .profile_photo_unit.gridItem.land_only: .profile_photo_w
              .profile_photo._no_shadow._empty

            .profile_photo_unit.gridItem.land_only: .profile_photo_w
              .profile_photo._no_shadow._profile_address
                p: span Россия, Санкт-Петербург,<br>м. Проспект Большевиков<br>Гороскоп: Близнецы
                p: span.clr_gray Хочу найти:<br>Парня или Девушку 18–25 лет<br>из Санкт-Петербурга

        .questionnaire_tip
          .f_cell.questionnaire_comunication
            a.btn_v1.btn_red.profile_action_btn(href='messages.html')
              span.btn_icon
                +menu_icon('plane')
              span.btn_text.fz_16.land_only Сообщение
          .f_cell.land_only
            .f_row.f_group.text_center
              .f_cell
                a.btn_v1.profile_action_btn.btn_white_blue(href='#')
                  span.btn_icon
                    +menu_icon('heart')
                  span.fz_16.btn_text В избранное
              .f_cell
                a.btn_v1.profile_action_btn.btn_white_blue(href='#')
                  span.btn_icon._mod_gift
                    +menu_icon('gift')
                  span.fz_16 Подарок

          .f_cell.land_only._ratings: .questionnaire_ratings
            .questionnaire_rating_col
              p
                span.fz_14 Позиция<br>на сайте
              .rating_counter._total
                span.dm 282

            .questionnaire_rating_col
              p
                span.fz_14 Просмотры<br>за последний месяц
              .rating_counter._month
                span.dm 1 585

      .questionnaire_aside
        //-.questionnaire_ratings.land_only
          .questionnaire_rating_col
            p
              span.fz_14 Позиция<br>на сайте
            .rating_counter._total
              span.dm 282

          .questionnaire_rating_col
            p
              span.fz_14 Просмотры<br>за последний месяц
            .rating_counter._month
              span.dm 1 585

        .questionnaire_mob_info.land_hidden
          p
            span.fz_26 Хочу найти: Парня или Девушку 18–25 лет
          p
            span.clr_gray.fz_22 Просмотров за последние 30 дней: 266

        .questionnaire_gifts
          .questionnaire_gift_list: .giftSlider.swiper-container
            .swiper-wrapper
              +loop_while(1)
                .questionnaire_slide.swiper-slide.questionnaireGift
                  .questionnaire_gift
                    img(src='img/gift_1.jpg')
                //-.questionnaire_slide.swiper-slide
                //-  .questionnaire_gift
                //-    img(src='img/gift_2.jpg')
                //-.questionnaire_slide.land_hidden.swiper-slide
                //-  .questionnaire_gift
                //-    img(src='img/gift_3.jpg')
                //-.questionnaire_slide.swiper-slide
                //-  .questionnaire_gift
                //-    img(src='img/gift_4.jpg')

          //-.questionnaire_gifts_make.land_hidden
            a.questionnaire_slide.dm(href='#')
              img(src='img/make_gift.png')

    .profile_settings_mob_collapse.land_hidden
      .fl
        span.fz_40 Анкета
      .fr.profile_settings_control_right.settingsCollapseAll
        span.fz_26 Раскрыть все блоки
        .profile_settings_control
          span.profile_settings_arrow
            img(src='img/svg/back-left-arr.svg')

    .profile_settings_container._expanded_is_active
      .profile_settings_row._gray_row
        .profile_settings_caption._expanded
          a.settingsCollapseBtn.mob_btn_emul(href='javascript:void(0)' onClick="")
          span.profile_settings_icon
            +menu_icon(1)
          span.fz_22 О себе
          .profile_settings_control: span.profile_settings_arrow.land_hidden
            img(src='img/svg/back-left-arr.svg')

        .profile_settings_wrapper.settingsCollapseBlock(style="display:block;")
          .profile_settings_block
            p
              span.fz_16 Общительная,любознательная,положительная. Рада буду простому общению,без пафоса и королевских замашек.<br>Я не подарок,но со мной не заскучаешь)))

      .profile_settings_row
        .profile_settings_caption._expanded
          a.settingsCollapseBtn.mob_btn_emul(href='javascript:void(0)' onClick="")
          span.profile_settings_icon
            +menu_icon('acquaintance')
          span.fz_22 Знакомства
          .profile_settings_control: span.profile_settings_arrow.land_hidden
            img(src='img/svg/back-left-arr.svg')

        .profile_settings_wrapper.settingsCollapseBlock(style="display:block;")
          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Хочу найти
              dd
                p
                  span Парня или Девушку или Пару М+Ж
                  span.land_hidden <br>
                  span  18–25 лет
              dt
                p
                  span Кого хочу найти:
              dd
                p
                  span смысл жизни
              dt
                p
                  span Цель знакомства:
              dd
                p
                  span тестирую я тут.. сообщество) в общем, в целом, запчастями, узлами и агрегатами)))

          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Мой автомобиль:
              dd
                p
                  span ножками надо ходить, нож-ка-ми!
              dt
                p
                  span Состою в браке:
              dd
                p
                  span Да, живем вместе
              dt
                p
                  span Есть ли дети:
              dd
                p
                  span Да, живем вместе

      .profile_settings_row._gray_row
        .profile_settings_caption
          a.settingsCollapseBtn.mob_btn_emul(href='javascript:void(0)' onClick="")
          span.profile_settings_icon
            +menu_icon('type')
          span.fz_22 Типаж
          .profile_settings_control: span.profile_settings_arrow.land_hidden
            img(src='img/svg/back-left-arr.svg')

        .profile_settings_wrapper.settingsCollapseBlock
          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Рост, Вес:
              dd
                p
                  span 180 см, 90 кг
              dt
                p
                  span Цвет волос:
              dd
                p
                  span Бритый наголо
              dt
                p
                  span Материальное положение:
              dd
                p
                  span микрААлигАрх))
              dt
                p
                  span Телосложение:
              dd
                p
                  span Кипарис!

          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Темперамент:
              dd
                p
                  span брызжу оптимизЬмом))
              dt
                p
                  span Профессия:
              dd
                p
                  span Студент, учусь
              dt
                p
                  span Проживание:
              dd
                p
                  span Живу с родителями)
              dt
                p
                  span Режим дня:
              dd
                p
                  span Я — жаворонок (люблю рано вставать)

      .profile_settings_row
        .profile_settings_caption
          a.settingsCollapseBtn.mob_btn_emul(href='javascript:void(0)' onClick="")
          span.profile_settings_icon
            +menu_icon('hobbies')
          span.fz_22 Увлечения
          .profile_settings_control: span.profile_settings_arrow.land_hidden
            img(src='img/svg/back-left-arr.svg')

        .profile_settings_wrapper.settingsCollapseBlock
          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Хочу найти
              dd
                p
                  span Парня или Девушку или Пару М+Ж 18–25 лет
              dt
                p
                  span Кого хочу найти:
              dd
                p
                  span смысл жизни

          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Мой автомобиль:
              dd
                p
                  span ножками надо ходить, нож-ка-ми!

      .profile_settings_row._gray_row
        .profile_settings_caption
          a.settingsCollapseBtn.mob_btn_emul(href='javascript:void(0)' onClick="")
          span.profile_settings_icon
            +menu_icon('lips')
          span.fz_22 Секс
          .profile_settings_control: span.profile_settings_arrow.land_hidden
            img(src='img/svg/back-left-arr.svg')

        .profile_settings_wrapper.settingsCollapseBlock
          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Цель знакомства:
              dd
                p
                  span тестирую я тут.. сообщество) в общем, в целом, запчастями, узлами и агрегатами)))

          .profile_settings_block._col
            dl.profile_settings_list
              dt
                p
                  span Есть ли дети:
              dd
                p
                  span Да, живем вместе
