//*************************** board

.board_holder {

  .landscape & {
    @extend %bx_shdw;
    min-height: 100%;
    background: #fff;

    &._footer_mode {
      @extend %global_flex_block_column_nowrap_space_between_stretch;

      .board_block {
        @include flex(1 0);
      }
    }
  }
}

.board_block {

  .landscape & {
    padding: 3.4em 4em 4em 4.9em;
    background: #fff;

    &._photos_mode {
      padding: 2.4em 4em 4em 2.9em;
    }

    &._has_aside {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 38em;
        border-left: 1px solid #f6f6f6;
        background: #fbfbfb;
      }
    }
  }
}

.board_footer {
  background: #f6fafc;
  padding: 1.6em 38em 1.1em 3.4em;
}

.board_footer_controls {
  @extend %clearfix;

  .landscape & {
    padding-right: 4em;
    line-height: 2.6;

    li {
      float: right;

      &:first-child {
        float: left;
      }
    }
  }
}

.board_footer_link {
  color: #000;
}

.board_title {
  padding: 3.35em 1em 1em;

  > a,
  > span {
    display: inline-block;
  }

  .landscape & {
    padding: 2.5em 4em 1.4em;
    background: #f6fafc;
    border-bottom: 1px solid #f6f6f6;

    &._profile_controls {
      position: relative;
      padding-right: 31.5em;
    }
  }

  .portrait & {
    &._profile_controls {
      font-size: 1.8em;
      padding: 1.5em 1em .8em;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3.5em;
        right: -3.5em;
        background: #f3f3f3;
        border-bottom: 1px solid #dfdfdf;
      }

      > * {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.title_back_btn {
  display: inline-block;
  vertical-align: middle;
  margin: -1.2em 1.5em 0 -1.2em;

  img {
    display: block;
    width: 2em;
  }

  .portrait & {
    margin-top: -1em;
    margin-right: .5em;
  }
}

$grid_koef: 2/3;
$box_size_p: 29.5em;
$box_size_p: $box_size_p * $grid_koef;
$box_size_l: 13em;

$box_gap: 1.7em;

$resp_grid: 57em;
$resp_step: 8em;

.board_grid {
  position: relative;

  .landscape & {
    margin: -2px;
  }

  .portrait & {
    margin: 0 (-$box_gap * $grid_koef);
  }
}

.board_counter {
  display: inline-block;
  vertical-align: middle;
}

.counters {
  display: inline-block;
  font: .7em $PFDinDisplayProMed;
  margin: 0 2em;
}

.grid_sizer {
  //max-width: 1/9 * 100%;
  width: $box_size_l;
  position: absolute;
  top: 0;
  left: 0;
}

.grid_item {
  position: absolute;
  overflow: hidden;

  &:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .portrait & {
    width: 1/6 * 100%;

    @include respond-to-max($resp_grid - $resp_step) {
      width: 20%;
    }

    @include respond-to-max($resp_grid - $resp_step * 2) {
      width: 25%;
    }

    @include respond-to-max($resp_grid - $resp_step * 3) {
      width: 33.33%;
    }

    @include respond-to-max($resp_grid - $resp_step * 4) {
      width: 50%;
    }
  }

  &.grid_x2 {
    width: $box_size_p * 2;

    .portrait & {
      width: 2 * 1/6 * 100%;

      @include respond-to-max($resp_grid - $resp_step) {
        width: 2 * 20%;
      }

      @include respond-to-max($resp_grid - $resp_step * 2) {
        width: 2 * 25%;
      }

      @include respond-to-max($resp_grid - $resp_step * 3) {
        width: 2 * 33.33%;
      }

      @include respond-to-max($resp_grid - $resp_step * 4) {
        width: 2 * 50%;
      }
    }
  }

  $resp_step: 15em;

  .landscape & {
    width: 1/7 * 100%;

    @for $i from 1 through 20 {
      @include respond-to-min(80em + $resp_step * $i) {
        width: 100%/(7 + $i);
      }
    }

    &.grid_x2 {
      width: 2/7 * 100%;

      @for $i from 1 through 20 {
        @include respond-to-min(80em + $resp_step * $i) {
          width: 2 * (100%/(7 + $i));
        }
      }
    }

    @include respond-to-max(101em) { // 100em = 1600px
      font-size: 1.25em;
    }

    @include respond-to-max(81em) { // 80em = 1280px
      font-size: 1.45em;
    }
  }

  .portrait & {
    &:nth-child(n + 4) {
      //display: none !important;
    }
  }
}

.board_unit {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 75%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#cc1e1e1e', GradientType=0);
  }

  .portrait & {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;

    @include respond-to-max($resp_grid - $resp_step) {
      //font-size: 1.1em;
    }

    @include respond-to-max($resp_grid - $resp_step * 2) {
      font-size: 1.25em;
    }

    @include respond-to-max($resp_grid - $resp_step * 3) {
      //font-size: 1.3em;
    }

    @include respond-to-max($resp_grid - $resp_step * 4) {
      font-size: 1.5em;
    }
  }

  .portrait .grid_x2 & {
    top: 3.5%;
    bottom: 3.5%;
    left: 3.5%;
    right: 3.5%;
  }
}

.board_name {
  position: absolute;
  z-index: 2;
  bottom: .5em;
  left: 1.5em;
  right: 1.5em;
  color: #fff;
  word-break: break-all;

  span {
    max-height: 4.6em;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
  }
}

.board_status {
  padding-left: 1.2em;
  position: relative;
  height: 1.2em;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.3em;
    width: .6em;
    height: .6em;
    border-radius: 100%;
  }

  &._online {
    &:before {
      background: #7eff00;
    }
  }
}

.portrait {
  .board_name {
    left: 1em;
    right: 1em;
    font-size: 1.7em * $grid_koef;
  }

  .board_status {
    font-size: 1.2em;

    &:before {
      margin-top: -.2em;
    }
  }
}

.counters {

  &.odometer.odometer-theme-car {
    background: none;
    font: 4em $PFDinDisplayProMed;
    margin: 0 .25em;

    .odometer-digit {
      box-shadow: none;
      padding: 0 .25em;
      margin: 0 1px;
      background: #f5f5f5;
      color: #313131;
      border-radius: .1em;
      border-bottom: 1px solid #c4c4c4;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        height: 1px;
        background: #e7e7e7;
      }
    }

    .odometer-digit-inner {
      left: 0.25em;
      top: .1em;
    }
  }
}
