//************  buttons

.btn_v1 {
  height: 4em;
  cursor: pointer;

  &.coins_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    margin-top: .5em;
    padding: 0 2.6em;
    font: 1em/2.8 $PFDinDisplayProBold;

    .portrait & {
      font: 1.5em/2.8 $PFDinDisplayProReg;
      margin-left: 3em;
      padding: 0 3.6em;
    }
  }

  &.filter_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 4.1em;
    font: 1em/2.4 $PFDinDisplayProBold;
    //letter-spacing: -.09em;
  }

  &.login_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 3em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.reg_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2.5em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.upload_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2.5em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.profile_btn {
    text-align: center;
    display: block;
    margin-bottom: 2em;
    border-radius: 2em;
    padding: 0 2.5em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.save_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2.8em;
    font: 1em/2.8 $PFDinDisplayProBold;
  }
}

.btn_v2 {
  cursor: pointer;
  height: 2.7em;

  &.board_footer_btn {
    padding: .5em 2.3em;
    margin-left: 2.7em;
    border-radius: 1.3em;
    line-height: normal;

    + .board_footer_btn {
      margin-left: .8em;
    }
  }
}

.btn_white_blue {
  @include transition_all(background .3s, color .3s);
  border: 1px solid $gl_blue;
  color: $gl_blue;
  background: transparent;

  &:hover {
    background: $gl_blue;
    color: #fff;
  }

  &:focus,
  &:active {
    background: darken($gl_blue, 5%);
  }
}

.btn_red {
  @include transition_all(background .3s);
  color: #fff;
  background: #ff4500;

  &:hover {
    background: darken(#ff4500, 5%);
  }

  &:focus,
  &:active {
    background: darken(#ff4500, 10%);
  }
}

.btn_gray {
  @include transition_all(background .3s);
  color: #000;
  background: transparent;
  border: 1px solid #e1e4e6;

  &:hover {
    background: #e1e4e6;
  }

  &:focus,
  &:active {
    background: darken(#e1e4e6, 5%);
  }
}

.btn_blue {
  @include transition_all(background .3s);
  background: $gl_blue;
  color: #fff;

  &:hover {
    background: darken($gl_blue, 5%);
  }

  &:focus,
  &:active {
    background: darken($gl_blue, 10%);
  }

  .portrait & {
    background: #ff4500;
  }
}


