//************  buttons

.btn_v1 {
  height: 4em;
  cursor: pointer;

  &.coins_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    margin-top: .5em;
    padding: 0 2.6em;
    font: 1em/2.8 $PFDinDisplayProBold;

    .portrait & {
      font: 1.5em/2.8 $PFDinDisplayProReg;
      margin-left: 3em;
      padding: 0 3.6em;
    }
  }

  &.filter_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 4.1em;
    font: 1em/2.4 $PFDinDisplayProBold;
    //letter-spacing: -.09em;
  }

  &.raise_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2em;
    min-width: 17em;
    text-align: center;
    font: 1em/2.4 $PFDinDisplayProBold;
    //letter-spacing: -.09em;

    .portrait & {
      font: 1.8em/2.4 $PFDinDisplayProReg;

      &._chose {
        font-size: 2.2em;
      }
    }
  }

  &.login_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 3em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.reg_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2.5em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.upload_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2.5em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.profile_btn {
    text-align: center;
    display: block;
    margin-bottom: 2em;
    border-radius: 2em;
    padding: 0 2.5em;
    font: 1em/2.4 $PFDinDisplayProBold;
  }

  &.save_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 2em;
    padding: 0 2.8em;
    font: 1em/2.5 $PFDinDisplayProBold;
  }

  &.profile_action_btn {
    display: block;
    padding: 0 2.2em;
    text-align: center;
    border-radius: 2em;
    font: 1em/2.5 $PFDinDisplayProBold;
  }
}

.btn_v2 {
  cursor: pointer;
  height: 2.7em;

  &.counter_btn {
    position: absolute;
    border-radius: 1.3em;
    top: .7em;
    width: 2.7em;

    &:after,
    &:before {
      content: '';
      position: absolute;
      background: #b2b2b2;
      top: 50%;
      left: 50%;
    }

    &:before {
      width: 1em;
      height: .2em;
      margin: -.1em 0 0 -.5em;
    }

    &._minus {
      left: 1em;
    }

    &._plus {
      right: 1em;

      &:after {
        height: 1em;
        width: .2em;
        margin: -.5em 0 0 -.1em;
      }
    }

    .portrait & {
      font-size: .8em;
      top: 1.1em;
      border-width: 2px;
    }
  }

  &.board_footer_btn {
    padding: .5em 2.3em;
    border-radius: 1.3em;
    line-height: normal;

    + .board_footer_btn {
      margin-left: .8em;
    }
  }
}

.btn_white_blue {
  @include transition_all(background .3s, color .3s);
  border: 1px solid $gl_blue;
  color: $gl_blue;
  background: transparent;

  &:hover {
    background: $gl_blue;
    color: #fff;
  }

  &:focus,
  &:active {
    background: darken($gl_blue, 5%);
  }
}

.btn_red {
  @include transition_all(background .3s);
  color: #fff;
  background: $gl_red;

  &:hover {
    background: darken($gl_red, 5%);
  }

  &:focus,
  &:active {
    background: darken($gl_red, 10%);
  }
}

.btn_gray {
  @include transition_all(background .3s);
  color: #000;
  background: transparent;
  border: 1px solid #e1e4e6;

  &:hover {
    background: #e1e4e6;
  }

  &:focus,
  &:active {
    background: darken(#e1e4e6, 5%);
  }
}

.btn_gray_2 {
  @include transition_all(background .3s, border-color .3s);
  color: #b2b2b2;
  background: #fff;
  border: 1px solid #b5b5b5;

  &:hover {
    background: #b5b5b5;

    &.counter_btn {
      &:after,
      &:before {
        background: #fff;
      }
    }
  }

  &:focus,
  &:active {
    border-color: darken(#b5b5b5, 5%);
    background: darken(#b5b5b5, 5%);

    &.counter_btn {
      &:after,
      &:before {
        background: #fff;
      }
    }
  }
}

.btn_blue {
  @include transition_all(background .3s);
  background: $gl_blue;
  color: #fff;

  &:hover {
    background: darken($gl_blue, 5%);
  }

  &:focus,
  &:active {
    background: darken($gl_blue, 10%);
  }

  .portrait & {
    background: $gl_red;
  }
}

.btn_icon {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  margin-top: -.5em;
  margin-right: .8em;
  margin-left: -.8em;

  &._mod_gift {
    margin-top: -.9em;
  }

  svg {
    @include transition_all(fill .3s);
    max-width: 100%;
    display: block;

    path {
      @include transition_all(fill .3s);
    }

    .btn_red & {
      fill: #fff;

      path {
        fill: #fff;
      }
    }

    .btn_white_blue & {
      fill: $gl_blue;

      path {
        fill: $gl_blue;
      }
    }

    .btn_white_blue:hover & {
      fill: #fff;

      path {
        fill: #fff;
      }
    }
  }
}

.btn_text {
  display: inline-block;
  vertical-align: middle;
}
