@font-face {
  font-family: 'PFDinDisplayProBold';
  src: url(../fonts/PFDinDisplayPro-Bold.eot);
  src: url(../fonts/PFDinDisplayPro-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Bold.ttf) format("truetype"),
  url(../fonts/PFDinDisplayPro-Bold.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Bold.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayProLight';
  src: url(../fonts/PFDinDisplayPro-Light.eot);
  src: url(../fonts/PFDinDisplayPro-Light.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Light.ttf) format("truetype"),
  url(../fonts/PFDinDisplayPro-Light.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Light.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayProReg';
  src: url(../fonts/PFDinDisplayPro-Reg.eot);
  src: url(../fonts/PFDinDisplayPro-Reg.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Reg.ttf) format("truetype"),
  url(../fonts/PFDinDisplayPro-Reg.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Reg.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayProMed';
  src: url(../fonts/PFDinDisplayPro-Med.eot);
  src: url(../fonts/PFDinDisplayPro-Med.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Med.ttf) format("truetype"),
  url(../fonts/PFDinDisplayPro-Med.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Med.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
