//*************************** profile

.profile_holder {

  .landscape & {
    padding-bottom: 2em;
  }

  .portrait & {
    //overflow-y: auto;
    min-height: 100%;
    background: #282a2e;
    border-top: 1px solid #fff;
  }
}

.profile_settings {
  position: absolute;
  top: .3em;
  right: -.3em;

  img {
    display: block;

    .landscape & {
      width: 2.1em;
      height: 2.1em;
    }

    .portrait & {
      width: 4.2em;
      height: 4.2em;
    }
  }
}

.profile_block {
  padding: 2.9em 3.2em 2.6em 3.7em;
  background: #fff;

  p {
    color: #282a2e;
    font-size: 1.4em;
    margin-bottom: .5em;

    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  .portrait & {
    background: #343538;
    padding: 2.9em 3.2em 2.0em 3.5em;

    p {
      font-size: 1.8em;
      color: #6f7073;
    }
  }
}

.profile_menu_w {
  padding: 2.4em 3.7em 1.6em;

  .portrait & {
    background: #282a2e;
    padding: 3em 4em 1.8em 2.8em;

    + .profile_menu_w {
      padding-top: 3em;
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
  }

  .landscape & {
    background: #f6fafc;

    + .profile_menu_w {
      padding-top: 3em;
      border-top: 1px solid #ebeef0;
    }
  }
}

.profile_menu {

  li {
    .landscape & {
      padding-left: 4em;
      margin-bottom: 1.7em;
    }

    .portrait & {
      padding-left: 7em;
      margin-bottom: 3.6em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &._mod_1 {

    .portrait & {
      li {
        margin-bottom: 1.5em;
      }
    }
  }
}

.profile_b_inner {
  @extend %clearfix;
  position: relative;
}

.profile_counter {
  color: $gl_blue;

  .portrait & {
    color: #fff;
  }
}

.profile_avatar {
  float: left;

  img {
    display: block;
    width: 100%;
  }

  .landscape & {
    width: 6.9em;
    height: 6.9em;
    margin-right: 2em;
  }

  .portrait & {
    width: 11.4em;
    height: 11.4em;
    margin-right: 2.8em;
    border: .4em solid #fff;
  }
}

.user_name {
  font: 2.2em $PFDinDisplayProReg;

  .landscape & {
    color: #000;
    padding: .15em 0;
    margin-right: 2em;
  }

  .portrait & {
    color: #fff;
    font-size: 3.4em;
    margin-right: 1.5em;
    margin-bottom: .25em;
  }
}

.profile_icon {
  width: 1.2em;
  height: 1em;
  margin-top: .1em;
  margin-right: .5em;
  line-height: 1;

  svg {
    display: block;
    max-height: 100%;
    max-width: 100%;

    .portrait & {
      fill: #6f7073;
    }
  }
}

.profile_l_counter {
  float: right;
  color: #fff;
  background: #ff4500;
  border-radius: .8em;
  padding: .4em .8em .1em;
  line-height: 1;

  span {
    font-size: 1.3em;
  }

  .portrait & {
    border-radius: 1.5em;
    padding: .4em 1em .1em;
    font-size: 1.1em;
    margin-top: -0.5em;

    span {
      font-size: 3em;
    }
  }
}

.profile_link {

  > span {
    display: inline-block;
    vertical-align: middle;
  }

  .landscape & {
    color: #282a2e;
  }

  .portrait & {
    color: #fff;
  }

  &:hover {
    .profile_l_icon svg {
      opacity: 1;
    }
  }

  &._active {
    cursor: default;
    color: $gl_blue;

    .profile_l_icon svg {
      opacity: 1;
      fill: $gl_blue;
    }
  }
}

.profile_l_icon {
  width: 5em;
  margin: -.5em 0;
  vertical-align: top !important;

  svg {
    @include transition_all(opacity .3s);
    display: inline-block;
    vertical-align: top;
    width: 3.5em;
    height: 2.85em;
    opacity: .1;
  }

  &._mod_1 {
    margin: -.75em 0;

    svg {
      opacity: 1;
      width: 4em;
      height: 3.7em;
    }
  }

  .landscape & {

    svg {
    }
  }

  .portrait & {
    width: 8em;
    margin: -.75em 0;

    svg {
      width: 6em;
      height: 4.7em;
      fill: #fff;
    }
  }

}

.profile_l_text {
  font-size: 1.8em;

  .portrait & {
    font-size: 3em;
  }
}

.profile_c_icon {
  position: relative;

  .profile_l_counter {
    position: absolute;
    top: .3em;
    right: -1.4em;
  }
}

.profile_title_controls {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 31.5em;

  .portrait & {
    display: none;
  }
}

.profile_controls {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;

  li {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #eceff1;
  }
}

.profile_control {
  display: block;
  width: 100%;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    display: block;
    fill: $gl_blue;
    width: 4.5em;
  }
}

.profile_settings_container {

  .landscape & {
    margin-right: -4em;
    margin-left: -2.9em;

    .profile_settings_row {
      padding: 3em 5em;
      border-top: 1px solid #ebeef0;
    }

    .profile_settings_caption {
      margin-bottom: .8em;
    }

    .profile_settings_icon {
      width: 2.5em;

      svg {
        fill: #c9c9c9;

        path {
          fill: #c9c9c9;
        }
      }
    }
  }
}

.profile_settings_row {
  @extend %clearfix;
  position: relative;

  + .profile_settings_row {

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      border-bottom: 1px solid #ebeef0;

      .landscape & {
        left: -4.9em;
        right: -4em;
      }
    }
  }

  .landscape & {
    padding-bottom: .8em;

    &:last-child {
      padding-bottom: 0;
    }

    + .profile_settings_row {
      padding-top: 3em;
    }
  }

  .portrait & {
    &._save_row {
      padding-top: .5em;
      font-size: 2em;
    }
  }
}

.profile_settings_label {
  margin-bottom: 1.2em;
  max-width: 39em;
  color: rgba(0, 0, 0, .5);

  + .profile_settings_label {
    margin-top: 3em;
  }

  .portrait & {
    margin-bottom: 1em;
    font-size: .93em;

    &._small {
      font-size: .715em;
      margin-top: -.5em;
    }

    + .profile_settings_label {
      margin-top: 2em;
    }
  }
}

.profile_settings_wrapper {
  @extend %clearfix;

  .landscape & {
    display: block !important;
    height: auto !important;
  }

  .portrait & {
    display: none;
    font-size: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    + .profile_settings_wrapper {
      padding-top: 2em;
    }

    .f_cell.cell_v2 {
      margin-bottom: 1.35em;
    }

    .f_cell.cell_v3 {
      margin-bottom: 0;
    }

    .f_row.f_group .f_cell {
      font-size: 1.5em;
    }
  }
}

.profile_settings_col {

  .landscape & {
    position: relative;
    float: left;
    width: 48%;
    padding-left: 2.2em;
  }

  .portrait & {
    &._port {
      float: left;
      width: 48%;
      font-size: 1.1em;

      &:first-child {
        margin-right: 4%;
      }

      .profile_btn {
        padding: 0 .5em;
        font-family: $PFDinDisplayProReg;
        letter-spacing: -.07em;
        margin-bottom: 0;
      }
    }
  }
}

.profile_settings_caption {
  position: relative;
  margin-bottom: 1.5em;
  padding-left: 2.2em;

  .portrait & {
    font-size: 1.45em;
    margin-bottom: .3em;
    padding: 2em 3em 1.4em 3.6em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -3.5em;
      right: -3.5em;
      background: #f3f3f3;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
}

.profile_settings_arrow {
  @include transition_all(transform .3s);
  @include transform_rotate(-90);
  position: relative;
  width: 1.4em;

  img {
    display: block;
    max-width: 100%;
  }

  ._expanded & {
    @include transform_rotate(90);
  }
}

.profile_settings_control {
  position: absolute !important;
  right: 0;
  top: .2em;
  white-space: nowrap;

  .portrait & {
    top: 2.6em;
  }

  .landscape & {
    .dm {
      margin-right: 1.2em;
    }
  }
}

.profile_settings_btn {
  width: 3em;
  margin: -1em 0;

  svg {
    max-width: 100%;

    .landscape & {
      fill: #c9c9c9;
    }
  }
}

.profile_settings_tip {
  color: #b0b0b0;

  .profile_settings_control & {
    opacity: .5;
    display: inline-block;
    vertical-align: middle;
  }
}

.profile_settings_block {
  padding-left: 2.2em;
  line-height: 1.45;
  margin-bottom: -.3em;

  .landscape & {
    &._col {
      float: left;
      width: 50%;
      //margin-bottom: -2em;
    }
  }
}

.profile_settings_list {
  overflow: hidden;
  margin-bottom: -2em;

  dt,
  dd {
    float: left;
    margin-top: .5em;
    margin-bottom: 1.4em;
  }

  dd {
    width: 67.5%;
  }

  dt {
    clear: both;
    width: 32.5%;
    padding-right: 2em;
    color: rgba(0, 0, 0, .5);
  }

}

.profile_settings_box {

  .f_row.f_group {

    .f_cell {
      width: 50%;
    }

    .portrait & {
      margin-bottom: 1.6em;

      &.port_last {
        margin-bottom: 0;
      }

      &.port_last_2 {
        margin-bottom: .5em;
      }
    }
  }

  .landscape & {
    max-width: 27.5em;

    .f_row.f_group {
      max-width: 100%;
      width: 27em;
    }
  }
}

.profile_settings_icon {
  position: absolute !important;
  top: -.2em;
  left: -1.7em;
  width: 2em;

  svg {
    display: block;
    max-width: 100%;
    fill: $gl_blue;

    .portrait ._collapsed & {
      fill: #000;
      opacity: .2;
    }
  }

  .portrait & {
    top: 2em;
    left: -0.4em;
    width: 2.6em;
  }

}

.label_icon {
  display: inline-block;
  vertical-align: middle;
  margin: -.85em 0 -.65em;

  svg {
    width: 2.4em;
    fill: $gl_blue;
  }
}

.profile_photos_holder {

  .portrait & {
    margin-right: -2px;
  }

  .landscape & {
    @extend %global_flex_block_row_nowrap_space_between_stretch;
  }
}

.profile_photos_list {
  position: relative;

  .landscape & {
    @include flex(1 0 auto);
  }

  .portrait & {
    margin: 0 -3.5em;
  }
}

.profile_photos_helper {
  position: relative;

  .landscape & {
    width: 34.4em;
    padding: 0 2.3em 0 5.3em;
  }

  .portrait & {
    padding-top: 4.2em;
  }
}

.profile_photos_helper_caption {

  .landscape & {
    margin-bottom: 1.5em;

    span {
      font-size: 2.2em;
    }
  }

  .portrait & {
    margin-bottom: 3em;

    span {
      font-size: 3.2em;
    }
  }
}

.profile_photos_helper_text {

  p {
    color: #7f7f7f;
  }

  .landscape & {
    padding-bottom: 6em;

    p {
      font-size: 1.4em;
      line-height: 1.6;
      margin-bottom: 1.5em;
    }
  }

  .portrait & {
    background: #f3f3f3;
    padding: 4em 3.8em;
    margin-bottom: 2em;

    p {
      font-size: 2.2em;
      line-height: 1.4;

      + p {
        margin-top: 1.35em;
      }
    }
  }
}

.mob_action_icon {

  .portrait & {
    width: 5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;

    svg {
      max-width: 100%;
    }
  }
}

.profile_photos_uploader {

  .portrait & {
    z-index: 3;
    position: absolute;
    top: -16em;
    right: 0;

    .upload_btn.btn_white_blue {
      @extend .btn_red;
      width: 10.2em;
      height: 10.2em;
      line-height: 10.2em;
      border-radius: 100%;
      text-align: center;
      border: none;

      svg {
        fill: #fff;

        path {
          fill: #fff;
        }
      }
    }
  }

  .landscape & {
    position: relative;
    border: 2px dashed $gl_blue;
    padding: 3.3em 3em 1.5em;
    text-align: center;
    margin-top: 2.3em;

    p {
      color: rgba(0, 0, 0, .5);
      margin-bottom: 1.5em;
      line-height: 1.3;
    }

  }
}

.profile_photo_unit {

  &:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  .landscape & {
    width: 50%;

    $resp_step: 20em;

    @for $i from 1 through 20 {
      @include respond-to-min(80em + $resp_step * $i) {
        width: 100%/(2 + $i);
      }
    }
  }

  .portrait & {
    width: 50%;

    &._wide {
      width: 100%;
    }

    &:nth-child(n + 7) {
      display: none;
    }
  }
}

.profile_photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 75%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#cc1e1e1e', GradientType=0);
  }

  img {
    display: block;
    width: 100%;
    min-height: 100%;
  }

  &._empty {
    border: 1px solid #eceff1;
    background: #fbfbfb url(../img/my_photo_empty.jpg) no-repeat 50% 50%;
  }

  &._profile_address {
    margin-top: -.5em;
    margin-right: -5em;
    line-height: 1.7;

    p {
      span {
        font-size: 1.6em;
      }

      + p {
        margin-top: 1.2em;
      }
    }

    @include respond-to-min(120em) {
      padding-left: 1em;
    }
  }

  &._no_shadow {
    &:before {
      display: none;
    }
  }
}

.profile_photo_w {
  position: absolute;
  top: 0;
  left: 0;

  .landscape & {
    bottom: 3em;
    right: 3em;
  }

  .portrait & {
    bottom: 0;
    right: 0;
  }
}

.profile_photo_check {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 8.5%;
  background: #fff;
}

.photo_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
  line-height: 1;

  svg {
    width: 1.5em;

    path {
      fill: #fff;
    }
  }

  &._large {
    margin-right: .2em;

    svg {
      width: 1.9em;
    }
  }
}

.profile_menu_icon {
  display: block;

  svg {
    max-width: 100%;

    path {
      fill: #fff;
    }
  }

  &._menu {
    @include transition_all(transform .3s);
    cursor: pointer;

    &:hover {
      @include transform_scale(1.2);
    }
  }

  .landscape & {
    width: 1.7em;
    margin: -0.1em 0;
  }

  .portrait & {
    width: 2.5em;
    margin: -1em 0;
  }
}

.profile_photo_menu {
  position: absolute;
  z-index: 1;
  color: #fff;

  .landscape & {
    left: 8%;
    right: 8%;
    bottom: 2%;
    font-size: 1.4em;
  }

  .portrait & {
    left: 10%;
    right: 7%;
    bottom: 4%;
    font-size: 1.8em;

    &._mob_top {
      bottom: auto;
      top: 4%;
    }
  }
}

.profile_photo_views {
  float: left;

  span {
    position: relative;
  }

  &._alone {
    position: relative;
    padding: .25em;
    margin-bottom: .3em;

    &:before {
      content: '';
      position: absolute;
      top: .2em;
      bottom: .4em;
      left: 0;
      right: -.7em;
      background: transparentize(#080513, .38);
    }
  }
}

.profile_photos_menu {
  float: right;
  position: relative;
}

.profile_photos_menu_holder {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 55%;

  ._menu_opened & {
    display: block;
  }
}

.profile_photos_menu_list {
  background: #fff;
  padding: 1.2em 0 .7em;
  min-width: 17em;
  line-height: normal;
  box-shadow: 0 0 29px rgba(0, 0, 0, .08);
}

.profile_menu_btn {
  display: block;
}

.profile_menu_link {
  @include transition_all(color .3s);
  display: block;
  color: #000;
  text-decoration: none;
  padding: .8em .5em .8em 2.2em;

  &:hover {
    color: $gl_blue;
  }
}
